/* Leaflet required CSS */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* Make html, body, and root full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App container for sidebar + map */
.app-container {
  display: flex;
  height: 100vh;
}

.map-container {
  height: 100vh;
  width: 100%;
}


/* Leaflet map class */
.leaflet-map {
  height: 100%;
  width: 100%;
}
